<!DOCTYPE html>
<html lang="en">

<head>
  <title>Nica WebDevs Profiles</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="HTML, CSS, css3,
      AngularJS,angular,angularjs,JavaScript,Developer,Nicaragua,framework,es6,
      desarrollo web" />
  <meta name="description" content="I wanted it to revive some of those
      magical moments I lived and enjoyed with AngularJS, so I put together an
      small excercise. It will be a CRUD later on." />
  <meta name="revised" content="Alvison Hunter, 5/6/2020" />
  <meta name="author" content="Alvison Hunter Arnuero" />

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  <!-- bootbox code -->
  <script src="js/bootbox.min.js"></script>
  <script src="js/bootbox.locales.min.js"></script>
  <script src="./js/jQueryScripts.js"></script>



  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/slate/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-G9YbB4o4U6WS4wCthMOpAeweY4gQJyyx0P3nZbEBHyz+AtNoeasfRChmek1C2iqV" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./css/styles.css" />
</head>

<body ng-app="myApp" ng-controller="customersCtrl">
 <!-- LOGIN SCREEN STARTS HERE -->

<div ng-show="!isLogged" class="container">
      <div class="sidenav">
         <div class="login-main-text">
            <h2 class="text-info">Nica Web Developers Profiles Directory</h2>
            <p class="lead text-warning text-center">Alone we can do so little; together we can do so much.</p>
         </div>
      </div>
      <div class="main my-3">
         <div class="col-12 col-sm-12 col-md-10 col-xl-8">
            <div class="login-form">
               <form>

<div class="input-group mb-3">

  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
  </div>
 <input ng-model="userName" type="text" class="form-control" placeholder="Username" aria-label="Username"
 aria-describedby="basic-addon1" required>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon2"><i class="fa fa-key" aria-hidden="true"></i></span>
  </div>

  <input ng-model="userPwd" type="password" class="form-control" placeholder="Password"
  aria-label="Username" aria-describedby="basic-addon2" required>
</div>

                  <div class="row justify-content-start justify-content-sm-start justify-content-md-around justify-content-lg-around mt-2">
                  <button ng-click="fnLogon()" type="button"
                  class="w-100 mx-3 mb-2 text-uppercase btn btn-primary">
<i class="fa fa-lock" aria-hidden="true"></i>
                   Login</button>
                  <button ng-click="fnRegister()" type="button"
                  class="w-100 mx-3 mb-2 text-uppercase btn btn-secondary">
<i class="fa fa-user-plus" aria-hidden="true"></i>
                    Register</button>
                  </div>

               </form>
               <div n-if="isLoginError"class="row text-danger my-3 justify-content-center">
  {{loginMsg}}
               </div>

            </div>
         </div>
      </div>
</div>
<!-- LOGIN SCREEN ENDS HERE -->


<!-- Main Content -->
<div ng-show="isLogged" class="container-fluid check-element animate-show-hide">

<audio id="audioTag" controls>
  <source src="audio/click.mp3" type="audio/mp3">
  <source src="audio/click.ogg" type="audio/ogg">
</audio>

  <div>
    <div class="row d-flex justify-content-between">
      <div class="col-auto">
             <!-- Large modal button launcher for new Profiles -->
 <a ng-click="fnAddDeveloper()" class="btn btn-outline-info card-link mx-3 my-1 mb-2"
 data-toggle="modal" ng-href=".bd-example-modal-lg">
 <i class="fa fa-plus-square" aria-hidden="true"></i> Add New Profile</a>

      </div>
      <div class="col-auto">
        <p class="text-info mx-3 my-2">
        <!-- <i class="fa fa-sign-out" aria-hidden="true"></i> -->
        <img class="thumbDeveloper" height="30" width="30"
                      ng-src="{{currentUserPhoto}}" />
        Currently Browsing as: <b id="userID" class="text-warning">{{userName}}</b>
</p></div>

    </div>
    <div class="container-fluid px-3">

      <div class="row border-top border-info border-bottom
          justify-content-center mb-4">
        <h1 class="text-info display-4 my-3 pb-2"><i class="fa
              fa-address-book-o" aria-hidden="true"></i> Nica Web Developers Profiles Directory</h1>
      </div>
      <div class="row justify-content-center">
<small class="h5 text-center text-success lead">{{msg}} </small>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <!-- <span class="text-uppercase text-white h4">Search By Name: </span> -->
          <label for="topName" class="col-form-label text-uppercase text-white
              h3">Search By Name</label>

          <input id="topName" class="form-control mr-sm-2" type="text" ng-model="nameFilter"
            placeholder="Search by Name..." />
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <label for="topLanguage" class="col-form-label text-uppercase
              text-white
              h3">Search By Language</label>
          <input id="topLanguage" class="form-control" type="text" ng-model="languageFilter"
            placeholder="Search by Language..." />
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">

          <label for="topTitle" class="col-form-label text-uppercase
              text-white h3">Search By Title</label>
          <select id="topTitle" class="form-control" ng-model="titleFilter"
          placeholder="Search by Title" />
          <option value="">Select a Title...<title></title>
          </option>
          <option value="Systems Engineer">Systems Engineer</option>
          <option value="Front End Developer">Front End Developer</option>
          <option value="Full Stack Developer">Full Stack Developer</option>
          <option value="Web Programmer">Web Programmer</option>
          <option value="Web Application Developer">Web Application
            Developer</option>
          <option value="Web Developer">Web Developer</option>
          </select>
        </div>
      </div>
      <div class="row mb-2 pb-3">
        <div ng-if="$scope.names.length === 0">
          <pre>No item was found on this list...</pre>
        </div>
      </div>
      <nav>
        <!-- Begin of the tab sections -->
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a ng-click="fnPlayAudio()" class="nav-item nav-link active" id="nav-tables-tab" data-toggle="tab"
          ng-href="#nav-tables" role="tab"
            aria-controls="nav-tables" aria-selected="true"><i class="fa fa-table" aria-hidden="true"></i> Table
            View</a>
          <a ng-click="fnPlayAudio()" class="nav-item nav-link" id="nav-cards-tab" data-toggle="tab"
          ng-href="#nav-cards" role="tab"
            aria-controls="nav-cards" aria-selected="false"><i class="fa fa-id-card-o" aria-hidden="true"></i> Cards
            View</a>

        </div>
      </nav>
      <div class="tab-content mb-3" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-tables" role="tabpanel" aria-labelledby="nav-tables-tab">
          <div class="table-responsive">
            <table class="table table table-striped table-hover my-3 small">
              <thead>
                <tr>
                  <th class="info text-center"><strong class="text-uppercase">Photo</strong></th>
                  <th class="info text-center"><strong class="text-uppercase">Name</strong></th>
                  <th class="info text-center"><strong class="text-uppercase">Title</strong></th>
                  <th class="info text-center"><strong class="text-uppercase">Language</strong></th>
                  <th class="info text-center"><strong class="text-uppercase">Framework</strong></th>
                  <th class="info text-center"><strong class="text-uppercase">Library</strong></th>
                  <th class="info text-center"><strong class="text-uppercase">Workplace</strong></th>
                  <th class="info text-center"><strong class="text-uppercase">Currently
                      Learning</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in names | filter: nameFilter | filter:
                    languageFilter | filter: titleFilter track by $index">
                  <td style="text-align: center;"><img class="thumbDeveloper" height="60" width="60"
                      ng-src="{{x.photoURL}}" /></td>
                  <td style="text-align: center;">{{ x.name }}</td>
                  <td style="text-align: center;">{{ x.title }}</td>
                  <td style="text-align: center;">{{ x.language }}</td>
                  <td style="text-align: center;">{{ x.framework }}</td>
                  <td style="text-align: center;">{{ x.library }}</td>
                  <td style="text-align: center;">{{ x.workplace }}</td>
                  <td style="text-align: center;">{{ x.learning }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> <!-- End of the table view Tab -->
        <div class="tab-pane fade" id="nav-cards" role="tabpanel" aria-labelledby="nav-cards-tab">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3" ng-repeat="developer in names | filter: nameFilter | filter:
                  languageFilter | filter: titleFilter track by $index">
                <div class="card border-secondary mb-3">
                  <img class="card-img-top"
                  ng-src="{{ developer.photoURL }}">
                  <!-- <img class="card-img-top" ng-src="assets/{{developer.name}}.jpeg"
                  :alt="{{ developer.name }}" /> -->
                  <div class="card-body">
                    <h3 class="card-title text-uppercase text-warning">{{
                        developer.name }}</h3>
                    <p class="card-text"><strong class="text-uppercases
                          text-success">{{ developer.title }}</strong> </p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong class="text-uppercase
                          text-secondary">Language:
                      </strong>{{ developer.language }}</li>
                    <li class="list-group-item"><strong class="text-uppercase
                          text-secondary">Framework:
                      </strong>{{ developer.framework }}</li>
                    <li class="list-group-item"><strong class="text-uppercase
                          text-secondary">Library:
                      </strong>{{ developer.library }}</li>
                    <li class="list-group-item"><strong class="text-uppercase
                          text-secondary">Workplace:
                      </strong>{{ developer.workplace }}</li>
                    <li class="list-group-item"><strong class="text-uppercase
                          text-secondary">Currently Learning:
                      </strong>{{ developer.learning }}</li>
                  </ul>
                  <div class="card-body">
                    <div class="row justify-content-between">
                      <div class="col-auto">
                        <a ng-href="{{developer.twitter}}" class="h2 card-link
                            text-white"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a ng-href="{{developer.linkedin}}" class="h2
                            card-link
                            text-white">
                          <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                      </div>
                      <div ng-if="isAdmin" class="col-auto">
                        <a ng-click="fnEditDeveloper(developer, $index)" class="h2 card-link
                            text-info"  data-toggle="modal" ng-href=".bd-example-modal-lg">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>

                        <a ng-click="fnDeleteDeveloper($index)" class="h2 card-link
                            text-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End of the Cards view Tab -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
          <div class="container">
            <div class="card my-3">

              <h5 class="card-header text-uppercase"><img ng-if="editModeOn" class="thumbDeveloper" height="30" width="30"
                      ng-src="{{payload.photoURL}}" /> {{modalTitle}}</h5>
              <div class="card-body">
                <form>
                  <div class="row my-3">
                    <div class="col">
                      <label for="name">First & Last Name:</label>
                      <input ng-model="payload.name" id="name" type="text" class="form-control"
                        placeholder="Type your First & Last Name">
                    </div>
                    <div class="col">
                      <label for="title">Title:</label>
                      <input ng-model="payload.title" id="title" type="text" class="form-control"
                        placeholder="Please type in your Title">
                    </div>
                  </div>
                  <div class="row my-3">
                    <div class="col">
                      <label for="photoURL">Photo URL [must be 200x200 px]:</label>
                      <input ng-model="payload.photoURL" id="photoURL" type="text" class="form-control"
                        placeholder="Type in your photo's URL">
                    </div>
                    <div class="col">
                      <label for="language">Language:</label>
                      <input ng-model="payload.language" id="language" type="text" class="form-control"
                        placeholder="What is your main programming Language?">
                    </div>
                  </div>
                  <div class="row my-3">
                    <div class="col">
                      <label for="framework">Framework:</label>
                      <input ng-model="payload.framework" id="framework" type="text" class="form-control"
                        placeholder="What is your favorite Framework?">
                    </div>
                    <div class="col">
                      <label for="library">Library:</label>
                      <input ng-model="payload.library" id="library" type="text" class="form-control"
                        placeholder="What is your favorite Library?">
                    </div>
                  </div>
                  <div class="row my-3">
                    <div class="col">
                      <label for="workplace">Workplace:</label>
                      <input ng-model="payload.workplace" id="workplace" type="text" class="form-control"
                        placeholder="Where do you work?">
                    </div>
                    <div class="col">
                      <label for="learning">Currently Learning:</label>
                      <input ng-model="payload.learning" id="learning" type="text" class="form-control"
                        placeholder="What are you learning at this moment?">
                    </div>
                  </div>
                  <div class="row my-3">
                    <div class="col">
                      <label for="twitter">Twitter Account:</label>
                      <input ng-model="payload.twitter" id="twitter" type="text" class="form-control"
                        placeholder="Twitter Account URL?">
                    </div>
                    <div class="col">
                      <label for="linkedIn">LinkedIn Account:</label>
                      <input ng-model="payload.linkedIn" id="linkedIn" type="text" class="form-control"
                        placeholder="LinkedIn Account URL?">
                    </div>

                  </div>

                </form>
              </div>
            </div>
          </div>

  <div class="modal-footer">
 <a ng-if="newModeOn" ng-click="fnSaveDeveloper()" class="card-link mx-3 my-2 btn btn-primary"
 data-toggle="modal" ng-href=".bd-example-modal-lg">
 <i class="fa fa-floppy-o" aria-hidden="true"></i> Save changes</a>

    <!-- <button ng-if="newModeOn" ng-click="fnSaveDeveloper()"
    type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-floppy-o"
                    aria-hidden="true"></i> Save changes</button> -->

 <a ng-if="editModeOn" ng-click="fnUpdateDeveloper()"
  class="card-link mx-3 my-2 btn btn-primary"
 data-toggle="modal" ng-href=".bd-example-modal-lg">
 <i class="fa fa-floppy-o" aria-hidden="true"></i> Update changes</a>

 <a ng-click="fnClearPayload()"
  class="card-link mx-3 my-2 btn btn-secondary"
 data-toggle="modal" ng-href=".bd-example-modal-lg">
 <i class="fa fa-ban" aria-hidden="true"></i> Cancel</a>

  </div>

    </div>
  </div>
</div>
</div> <!-- End of the tab sections -->
 </div> <!-- End of the main container -->
  </div> <!-- End of the ng-app div -->
  <div id="footer">
    <div class="container">
      <div class="row justify-content-center">
        <p class="text-muted mx-1"> © Copyright May 18th, 2020
          NicaWebDevsProfiles | <span data-trigger='hover' data-toggle="popover" title="About the developer"
            data-placement="top" data-content="Web Developer, Angular, VueJS & ReactJS Fan, VB .Net
              coder, UX/UI design, Drummer, Bassist, Piano & Guitar Player,
              Husband & Proud Father of Two Brave Warriors.">
            Made With <b class="text-danger">❤</b> by <em class="text-info">Alvison hunter</em> with
            with AngularJS.</span></p>
      </div>
    </div>
  </div>
</div>
<!-- End of Main Content -->

  <!-- AngularJS code -->
  <script src="js/app.js"></script>
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
  </script>
</body>

</html>
